@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

.calc{
    width: 27%;
    height: 500px;
    background: rgb(22, 53, 83);
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 10px;
}
.main-body{

}
#output{
    width: 85%;
    height: 50px;
    border-radius: 10px;
    text-align: right;
    padding-right: 7px;
    font-size: 25px;
    font-family: "Cinzel";
    pointer-events: none;
    margin-top: 16px;
}
.textField{
    margin-left: 6%;
    width: 100%;
    height: 100px;
    padding-top: 1%;
}
.btn{
    width: 13%;
    height: 50px;
    border-radius: 8px;
    margin-left: 9%;
    font-size: 18px;
    background: rgb(187, 106, 235);
    color: #fff;
    cursor: pointer;
    font-family: "Cinzel";
}
.row{
    margin-top: 30px;
}
#plusBtn{
    background: rgb(225, 0, 255);
     
}
#subBtn{
    background: rgb(225, 0, 255);
      
}
#mulBtn{
    background: rgb(225, 0, 255);
     
}
#divBtn{
    background: rgb(225, 0, 255);
     
}
.dwnBtn{
    background: rgb(255, 0, 170);
    
}
.clrBtn{
    margin-left: 78%;
    margin-top: 14px;
    background: rgb(225, 0, 255);
}